body {
    width: 1400px;
    height: 180px;
    font-family: Helvetica;
    font-size: 115px;
    font-weight: bold;
    color: khaki;
    text-align: ce
}


h1, h2, h3, p {

    font-family: 'Helvetica' sans-serif;
}

p (
    font-size: 14px;
)


  
.brushes {
    font-size: 40px;
    font-weight: bold;
}

  
.frames {
      font-size: 40px;
      font-weight: bold;
}

.paint {
      font-size: 40px;
      font-weight: bold;
}
  
/*has CSS for price class to change text color*/
/*I don't understand why the bulk of the styling for this project should be in html inline*/
