h1, h2, h3, p {

    font-family: Helvetica;
}

p (
    font-size: 14px;
)


  
.brushes {
    font-size: 40px;
    font-weight: bold;
}

  
.frames {
      font-size: 40px;
      font-weight: bold;
}

.paint {
      font-size: 40px;
      font-weight: bold;
}
  
   
