h1, h2, h3, p {

    font-family: Helvetica, sans-serif;
}

h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url("Images/pattern1.jpeg");
}


p {
    font-size: 18px;
}

h2 {
    padding: 5px;
    font-family: Helvetica, sans-serif;
}
  
.brushes {
    font-size: 42px;
    font-weight: bold;
    padding: 10%;
}

  
.frames {
    font-size: 40px;
    font-weight: bold;
}

.paint {
    font-size: 40px;
    font-weight: bold;
}
