h1, h2, h3, p {

    font-family: Helvetica, sans-serif;
}

p {
    font-size: 18px;
}

h2 {
    padding: 5px;
    font-family: Helvetica, sans-serif;
}
  
.brushes {
    font-size: 42px;
    font-weight: bold;
    padding: 10%;
}

  
.frames {
    font-size: 40px;
    font-weight: bold;
}

.paint {
    font-size: 40px;
    font-weight: bold;
}
<<<<<<< HEAD
  
   
=======
>>>>>>> 5801be6c47c1ea9b4a889c9ef388efe16cd3b864
